
 hr{
    border-color: black
 }
 h1{
    color: rgb(0, 0, 0);
 }
 h3{
    color: rgb(0, 0, 0);
 }
 b{
   text-align: right;
 }
 #left {
   float: left;
   text-align: left;
   padding-right: 5px;
   font-size: 30px;
   color: darkgreen;

}

#center {
   text-align:right;
   padding-left: 10pt;
   font-size: 30px;
   color: darkgreen;
}

.column {
   float: left;
   width: 50%;
   padding: 10px;
   height: 300px; /* Should be removed. Only for demonstration */
 }
 .row{
   content: "";
   display: table;
   clear: both;
 }
 
  /*****************CLASS SELECTOR*****************************/

 .women{
    background-color: black;
 }
  /*****************ID SELECTOR*****************************/

#heading{
background-color:white;
width: 100px;
}
#head{
    background-color: white;
    width: 200px;
}